<!-- Form to reset password only displays if token is valid -->
<form
  *ngIf="this.isTokenValid"
  [formGroup]="resetPasswordForm"
  (ngSubmit)="resetPassword()"
  class="reset-password-form"
>
  <h1 class="mb-3 font-weight-normal">Reset Your Password.</h1>
  <!-- Success Message Alert -->
  <div
    *ngIf="this.message.length > 0"
    class="alert alert-success alert-dismissible fade show"
    role="alert"
  >
    <strong>{{ this.message }} </strong> <a routerLink="/login">Login</a>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <label for="inputPassword" class="sr-only">New Password</label>
  <input
    type="password"
    [formControlName]="'newPassword'"
    id="inputPassword"
    class="form-control top"
    placeholder="New Password"
    required="true"
  />
  <!-- Validate input -->
  <span
    *ngIf="
      !resetPasswordForm.get('newPassword').valid &&
      resetPasswordForm.get('newPassword').touched
    "
    class="text-danger"
  >
    Please provide a valid Password.
  </span>
  <label for="inputPassword2" class="sr-only">Password</label>
  <input
    type="password"
    [formControlName]="'passwordMatch'"
    id="inputPassword2"
    class="form-control bottom"
    placeholder="Repeat your password"
    required="true"
  />
  <!-- Validate input -->
  <span
    *ngIf="
      (resetPasswordForm.get('passwordMatch').touched &&
        !resetPasswordForm.get('passwordMatch').valid) ||
      (resetPasswordForm.get('passwordMatch').valid &&
        resetPasswordForm.get('passwordMatch').value !==
          resetPasswordForm.get('newPassword').value)
    "
    class="text-danger"
  >
    Passwords Don't Match.
  </span>
  <button
    class="btn btn-lg btn-primary btn-block"
    type="submit"
    [disabled]="
      this.resetPasswordForm.invalid ||
      resetPasswordForm.get('passwordMatch').value !==
        resetPasswordForm.get('newPassword').value
    "
  >
    Reset Password
  </button>
</form>

<!-- Placeholder in case of invalid token -->
<div
  *ngIf="!this.isTokenValid && this.message === 'Error!'"
  class="container container-fluid"
>
  <h1>
    Oops...Looks like the token provided is invalid or has already expired
  </h1>
  <p class="text-center">
    Double check your link for errors. If no errors,
    <a routerLink="/forgot">Request a new token</a> or
    <a routerLink="/login">Login</a>
  </p>
</div>
